
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    back
} */

a
{
    text-decoration: none;
    color:#555;
}

p
{
    color:#555;
}

.container
{background-image: url(banner2.png);
    background-size: contain;
    max-width: 1366px;
    margin: auto;
    padding-left:25px;
    padding-right:25px;
}
